@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 400;
    font-optical-sizing: auto;
    font-family: "Golos Text", sans-serif;
}

#app {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    background-color: #eee;
}
